.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project-card-link {
    text-decoration: none; /* Quita el subrayado del link */
    color: inherit;
    transition: transform 0.3s ease;
}

.project-card {
    background: rgba(0, 20, 40, 0.8);
    border: 1px solid #00f2ff;
    padding: 2rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.project-card:hover {
    transform: translateY(-5px);
    background: rgba(0, 40, 80, 0.9);
    box-shadow: 0 0 20px rgba(0, 242, 255, 0.4);
}

.view-more {
    display: block;
    margin-top: 15px;
    font-size: 0.8rem;
    color: #00f2ff;
    letter-spacing: 2px;
}
