/* Modificación para que el círculo y el texto estén en horizontal */
.proyecto-item {
    display: flex;
    flex-direction: row; /* Cambiado de column a row */
    align-items: center;
    gap: 20px; /* Espacio entre el círculo y el texto */
    flex-shrink: 0;
}

/* Para que los datos textuales se apilen a la derecha del círculo */
.info-proyecto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
